<html>
<head>
    <title>CSS Layout demo</title>
    <meta charset="utf-8">
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <script>
        function getLevel(event){
            var form = document.getElementById('_form');
            var tr = event.target;
            var target = tr.parentNode.childNodes[7];
            var levelId = target.innerText;

            form.setAttribute('action','/game?levelId='+ levelId);
            form.submit();

        }
    </script>
</head>

<body>
<div class="area" id="header">
    <div class="scaffold">Header</div>
</div>
<div class="main area" id="sidebar1">
    Side Menu
</div>
</div>

<div class="main area" id="levelDesignMain">

    <table>
        <thead>
        <tr>
            <th class="td_first">No</th>
            <th>Level Name</th>
            <th class="td_third">Level Designer</th>
            <th style="display:none"></th>
        </tr>
        </thead>
        <tbody>
        <% for(var i = 0;i < levelList.length;i++){ %>
        <tr onclick="getLevel(event);">
            <td class="td_first"><%=i+1%></td>
            <td><%=levelList[i].levelName%></td>
            <td class="td_third"><%=levelList[i].levelDesigner%></td>
            <td style="display:none"><%=levelList[i]._id%></td>
        </tr>
        <% } %>
        </tbody>
    </table>
    <form method="get" id="_form">
        <% for(var i = 0;i < levelList.length;i++){ %>
        <input class='LevelIdList' type="hidden" value="<%=levelList[i]._id%>">
        <%}%>
    </form>
</div>
<div class="area" id="footer">
    <div class="scaffold">Footer</div>
</div>
</body>
</html>